table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  height: 50px;
}

tbody tr:hover {
  background-color: #eee;
}

td {
  cursor: pointer;
  padding: 4px 8px;
}
